---
layout: cat-homepageTEMPLATE-summary
title: "Judges"
permalink: /Judges/
categories: ["HomePage-Judges"]
---

<div id="categories" class="homeBody-section leftRight-space-16 bottom-space-20">
	<div class="homeResources-grid-containter bg-color" style="margin-bottom: -30px;">
		<h1 class="titles">{{ page.title }}</h1>
		<p>A collection of our Teaching Summaries for the Book of Judges.</p>
	</div>
	<div class="homeResources-grid-containter bg-color">
		<ol>
			{% for post in site.categories.Judges %}
			<li class="all-links">
				<a href="{% if site.baseurl == "" %}{{post.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{post.url}}{% endif %}">{{ post.title }}</a> &nbsp; <small class="archive-date-summary">{{ post.date | date: "%a, %b %d, %y" }}.</small>
			</li>
			{% endfor %}
		</ol>
	</div>
</div>