body{ 
    counter-reset:header1 header2;
    display:block;
    font-family:Verdana, Tahoma, sans-serif;
    font-family:'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family:'Playfair Display', serif;
    font-family:-system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin:0;
    overflow-y:auto;}
#context_menu *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),body{font-size:1.1em;}
body *{
    -webkit-transition:all 0.1s ease-in-out;
    -moz-transition:all 0.1s ease-in-out;
    -o-transition:all 0.1s ease-in-out;
    transition:all 0.1s ease-in-out;}
.leftRight-space-16{margin: 0 16px 0;}
.bottom-space-20{margin-bottom:20px!important;}
.top-space-20{margin-top:20px!important;}
.topBorderRadius-0{
    border-top-right-radius: 0px!important;
    border-top-left-radius: 0px!important;}
.bottomBorderRadius-0{
    border-bottom-right-radius: 0px!important;
    border-bottom-left-radius: 0px!important;}
#expandANDdate{min-height:32px;}
.archive-date, .archive-date-summary{ 
    display:inline;
    font-family:Sanchez, Georgia, "Times New Roman", Times, serif;
    font-size:calc(9px + (24 - 16)*((100vw - 320px) / (1920 - 320)));
    font-weight:500;
    letter-spacing:0;
    line-height:17px;
    margin-top:15px;
    white-space:nowrap;}
article {
    display:block!important;
    /* min-height:100vh; */
    /* margin-bottom:20px!important; */
}
article img {margin-top:10px;}
main{
    line-height:1.45;
    letter-spacing: 1px;}
article>main{
    font-family:Verdana!important;}
main>h1,main>h2,main>h3,main>h4,main>h5,main>h6,main>p, main>ol, main>ul, main>blockquote, main>table, main>span, h1.H0, h2.H1, h3.H2, h4.H3, h5.H4, h6.H5, article>main>header, article>main>div, #expandANDdate, .visibility{
    visibility:visible;}
article a{
    font-size:85%;}
.homeResources-grid-containter{padding:22px 0;border-radius: 10px;}
@media only screen and (max-width:300px){ 
	.homeResources-grid-containter{
	    padding:18px 0;}}
a{ 
    color:var(--black);
    border-radius:4px;
    border-bottom:1px solid;
    text-decoration:none;}
img{ 
    vertical-align:middle;
    border-style:none;}
header>h1:first-of-type, div>h1:first-of-type{ 
    font-size:calc(38px + (18 - 6)*((100vw - 320px)/(1920 - 320)))!important;}
h1{font-size:calc(30px + (18 - 6)*((100vw - 320px)/(1920 - 320)))!important;}
h2{font-size:calc(24px + (18 - 6)*((100vw - 320px)/(1920 - 320)))!important;}
h3{font-size:calc(20px + (18 - 6)*((100vw - 320px)/(1920 - 320)))!important;}
h4{font-size:calc(17px + (18 - 6)*((100vw - 320px)/(1920 - 320)))!important;}
h5,h6{font-size:calc(14px + (18 - 6)*((100vw - 320px)/(1920 - 320)))!important;}
p,li,#context_menu *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){
    font-size:calc(22px + (18 - 6)*((100vw - 320px)/(1920 - 320)));
    /* padding: 0 15px; */
}
#context_menu code,#context_menu .buttons,.crfnnote_btns button,#context_menu:not([strnum]) hr::before{
    font-size:calc(8px + (18 - 6)*((100vw - 320px)/(1920 - 320)))!important;
    font-size:14px!important;}
#context_menu .cmtitlebar{
    font-size:16px!important;}
/* blockquote,blockquote>p,blockquote>p>em{font-size:calc(16px + (18 - 6)*((100vw - 320px)/(1920 - 320)))!important;} */
blockquote * {font-size:1em!important;}
article>main>header{
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: auto auto;
    /* column-gap: 0.3rem; */
    row-gap: 0.3rem;
    align-items: start;
}
article>main>header{
    margin:0 16px 30px !important;}
main > :is(h1:first-of-type),
main > :is(ol:first-of-type),
main > :is(ul:first-of-type),
main > :is(blockquote:first-of-type),
main > :is(p:first-of-type) {
    margin-top:30px!important;
}
article>main>header>small {
    margin-left: 10px!important;}
.leftBorderForArticleTitle{
    border-radius:40px;
    width:10px;
    height:102%;
    grid-row: 1 / span 2; /* occupies date + title rows */
    grid-column: 1;}
header>h1:first-of-type, div>h1:first-of-type{ 
    font-family:'Bitter', serif;
    font-family:"Times New Roman", Times, serif;
    line-height:1.1;
    padding-left:.10em;
    margin:0;
    border-bottom:none!important;}
article :is(h1,h2,h3,h4,h5,h6), p {
    padding-left:1em!important;
    padding-right:1em!important;
}
header :is(h1,h2,h3,h4,h5,h6):before {
    display:none!important;
}
header > :is(h1,h2,h3,h4,h5,h6) {
    padding-left:0.25em!important;
    padding-left:0!important;
    margin-left:0.25em!important;
}
.displayNone{word-break:break-word;}
h1:not(header > h1), h2, h3:not(.footerLinks-header h3, .Contact-section h3), h4, h5:not(.Contact-section h5), h6{
    font-family: 'Times New Roman', Times, serif;
    /* padding:5px 15px!important; */
}
h1,h2,h3,h4,h5,h6{ 
    display:block;
    margin-top:1.2em;
    margin-top:0.5em;
    padding: 5px 0;
    margin-left:0!important;
    word-break:break-word;
    font-weight:bold!important;
    line-height:1.15;}
/* h1,h2,h3,h4,h5,h6,p{margin-bottom:0;} */
h1 p,h2 p,h3 p,h4 p,h5 p,h6 p{
    display:inline;
    font-size:18px!important;
    font-size:inherit!important;}
h1>a,h2>a,h3>a,h4>a,h5>a,h6>a{ 
    color:#111!important;
    text-decoration:none!important;
    white-space:pre-wrap!important;
    font-size:inherit;}
table{ 
    margin:1em 0;}
@media only screen and (max-width:540px){ 
/* header~h1{ 
    counter-increment:header1;
    content:counter(header);}
header~h1:before{ 
    content:"*" counter(header)"*";
    content:"0" counter(header1);
    font-size:medium;}
header~h1>h2{ 
    counter-reset:header2 1;}
header~h2{ 
    counter-increment:header2;
    content:counter(header);}
header~h2:before{ 
    content:"*" counter(header)"*";
    content:counter(header1)"." counters(header2, ".") ". ";
    font-size:medium;}
header~h1>h2>h3{ 
    counter-reset:header2 1;}
header~h3{ 
    counter-increment:header3;
    content:counter(header);}
header~h3:before{ 
    content:"*" counter(header)"*";
    content:counter(header1)"." counters(header2, ".") "." counters(header3, ".")".";
    font-size:medium;} */}

@import url(//db.onlinewebfonts.com/c/9a95ac248797ec280789f4ece8fe3fd3?family=Sally);

article ol,article ul{
    padding-left:38px;
    list-style-type:decimal;
    margin:0;}
ol>li>ol{ 
	padding-left:20px;
    list-style-type:lower-roman;
    list-style-type:lower-alpha;}
ol>li>ol>li>ol, ol>li>ol>li>ol>li>ol, ol>li>ol>li>ul, ol>li>ol>li>ul>li>ul {
    list-style-type:lower-roman;
}
ol>li>ol>li>ol { 
    list-style-type:decimal-leading-zero;
    list-style-type:lower-roman;
}
ol>li>ol>li>ol>li>ol { 
    list-style-type:lower-roman;
}
ol>li>ol>li>ol>li>ol>li>ol { 
    list-style-type:lower-roman;
}
ol>li>ol>li>ol>li>ol>li>ol>li>ol { 
    list-style-type:lower-roman;}
body>li:first-child { 
    margin-top:0.6em;
}
article li li, article li li li, article li li li li { 
    margin:0.2em 0 0 0;
}
article li {
    margin-left:0;
    display:list-item;
	padding:0 1em 0 0!important;
    margin-top:0.25em;
}
article :is(h1,h2,h3,h4,h5,h6) + :is(ol,ul) > li:first-of-type {
    margin-top:1em;
}
em>span,
li>span,
li>strong>span,
li>em>span,
li>strong>em>span,
p>span,
p>em>span,
blockquote>span,
blockquote>em>span,
blockquote>p>em>span { font-style:initial;}
.footerLinks-lists li:before{ 
    content:" ";
    padding-right:0;
}
li::marker{ font-size:60%;}
@media only screen and (min-width:540px){ 
	article ol, article ul{ padding-left:50px;}
	ol>li>ol{ padding-left:50px; }
	li::marker{font-size:80%;}
}
.italize{ font-style:italic; }
.emphasize {
    padding-left:20px;
    padding-right:5px;
}
blockquote {
    font-family:Vollkorn!important;;
    border-radius:10px;
    margin: 1em 1.4em;
    padding:0.5em 10px;
    quotes:"\201C""\2018";
}
blockquote:before { 
    content:open-quote;
    font-size:4em;
    line-height:0.1em;
    margin-right:0.25em;
    vertical-align:-0.4em;
}
blockquote p {display:inline;}
.sidenote p { 
    font-size:calc(14px + (18 - 6)*((100vw - 320px)/(1920 - 320)));
    font-style:italic;
    padding:15px;
}
@media all and (min-width:900px){ 
	.mobilebreak { display:none; }
	li:before { font-size:medium; }
}
.homeHeaderNav {
    display:-webkit-box;
    display:flex;
    -webkit-box-align:center;
    align-items:center;
}
.churchLOGO { 
    padding:10px 10px 10px 0;
    display:-webkit-box;
    display:flex;
    -webkit-box-align:center;
    align-items:center;
    float:left;
}
.churchLOGO-img { height:40px; }
@media only screen and (max-width:540px){
	.churchLOGO-img { height:30px;}
	.emphasize{ padding-left:10px;}
}
	/* Table CSS */
.table-container {
	max-width:100%;
  overflow-x:auto; /* Add horizontal scroll if necessary */}
table{table-layout:fixed;}
td,th{ 
	border:1px solid var(--grey);
	padding-right:5px;
	padding-left:5px;
	border-right:2.5px solid var(--grey);
	border-bottom:2.5px solid var(--grey);
}
th{ text-transform:uppercase;}
table ul, table ol{ padding-left:35px!important;}
table em,table u,table sup {
	width:fit-content;
	display:-webkit-inline-box;
}
table p{ margin:0.3em!important;}
table sup{ font-size:16px;}
th:first-child{ border-right:2.5px solid var(--grey);}
@media only screen and (max-width:540px){ 
	td,th{ 
		padding-right:0;
		padding-left:0;
	}
	/* table p,table li { font-size:16px!important;} */
	table sup { font-size:12px; }
	table ul, table ol {
		padding-left:27px!important;
		margin:0.5em 0!important;
	}
}
/*DVIC 221119c*/
.add_space { height:50px; }
.openAll{ display:block!important; }
.toggleAllHeaders {
    display:grid;
    grid-template-columns:70% 30%;
    place-items:baseline;
    padding:1em 0;
}
.toggleAllHeaders div{ place-self:center end; }
@media only screen and (min-width:540px){ 
.toggleAllHeaders{ 
    grid-template-columns:90% 10%;
    place-items:end;}
.toggleAllHeaders p{ 
    padding-right:10px;}}
.toggleAllHeaders p{ 
    margin:0!important;}
.checkbox{ 
    opacity:0;
    display:none;}
.label{ 
	border-radius:50px;
	cursor:pointer;
	display:flex;
	align-items:center;
	justify-content:space-between;
	position:relative;
    padding:4px;
	height:26px;
	width:50px;}
.label .ball{ 
	border-radius:50%;
	position:absolute;
    height:25px;
    width:25px;
	transform:translateX(0px);
	transition:transform 0.2s linear;
    pointer-events:none;}
.checkbox:checked + .label .ball{ 
	transform:translateX(24px);}
.open::before{ 
	content:"\2727 ";}
.close::before{ 
	content:"\2726 ";}
.categoryNavigation{
    display:flex;
    /* flex-wrap: wrap;  */
    align-items: center; 
    gap: 5px;}
.PageNavigation{
    display:grid;
    grid-template-columns:48% 48%;
    gap:4%;}
.PageNavigation, .categoryNavigation, .PageNavigation a, .categoryNavigation a{
    font-family:'Nunito Sans'!important;
    font-family: Sanchez, Georgia, "Times New Roman", Times, serif !important;
    font-weight: bold!important;}
.categoryNavigation .all-links{
    display: flex;
    flex-wrap: wrap;}
.categoryNavigation a{
    padding: 0 10px;
    border-right: 1px solid;
    white-space: nowrap;}
.categoryNavigation a:last-child {
    border: none!important;}
.PageNavigation a, .categoryNavigation a{
    font-size:calc(16px + (18 - 6)*((100vw - 320px)/(1920 - 320)))!important;
    border-radius:0px !important;
    border-bottom:none!important;
    text-decoration:none!important;}
.PageNavigation a:hover{
    border-bottom:none!important;}
.PageNavigation li::before{
    content:"";
    padding:0;}
/* .PageNavigation .all-links{
    margin:0 0 20px;
    width:100%;
} */
.prev-link{grid-area:1 / 1 / 2 / 2;}
.next-link{grid-area:1 / 2 / 2 / 3;}
/* .prev-link a, .prev-link span{
    display:grid;
    place-content:start;} */
.next-link span, .next-link a, .next-link{
    /* display:grid;
    place-self:start end; */
    text-align:right;}
.categoryNavigation span, .prev-link span, .next-link span, .category-link span{
    font-size:calc(12px + (18 - 6)*((100vw - 320px)/(1920 - 320)))!important;
    font-weight: bold;
    margin:0.5em 0;
	padding: 0;}
.prev-link span, .next-link span{
    display:block;
    font-size:var(--inherit);
    margin:0;}
@media only screen and (max-width:500px){ 
.PageNavigation{ 
    grid-template-columns:100%;
    padding-right:0.3em;}
.prev-link{grid-area:auto;}
.next-link{grid-area:auto;}
.PageNavigation .all-links{margin:0 0 10px;}
/* .prev-link span, .next-link span{
    margin:0.3em 0;} */
    }
/* Scrollbar CSS */
::-webkit-scrollbar{width:5px;}
::-webkit-scrollbar-track{background:inherit;}
::-webkit-scrollbar-thumb{background:#888;}
::-webkit-scrollbar-thumb:hover{background:#555;}
.pureHTMLtimeline {
    color:black!important;
    margin-top:20px;
    width:-webkit-fill-available!important;
}
.darkmode #context_menu :is(h1,h2,h3,h4,h5,h6) {
    color: black;
}
.darkmode :is(blockquote, blockquote *) {color: white!important;}
:is(header, #Contact-section) :is(h1,h2,h3,h4,h5,h6):before {display:none;}
:is(header, #Contact-section) :is(h1,h2,h3,h4,h5,h6) {padding-left:0;}

.toggleAllHeaders p:first-child::after {
    content: 'Expand All';
}
.toggleAllHeaders:has(input#toggleAllBtn:checked) p:first-child::after {
    content: 'Collapse All';
}
