h1.H0, h2.H1, h3.H2, h4.H3, h5.H4, h6.H5{
    display:grid;
    grid-template-columns:5% 95%;
    place-content:center;
    padding:5px 0!important;}
.toggle-icon {
    background:none!important;
    border-radius:50%;
    border-right:0.7px solid var(--grey);
    border-bottom:1px solid var(--grey);
    margin-top:auto!important;
    margin-bottom:auto!important;
    /* margin-left:2px!important; */
    padding:5px;
    place-self:anchor-center;
    height: 20px;
    width: 20px;}
@media only screen and (max-width:1025px){
h1.H0, h2.H1, h3.H2, h4.H3, h5.H4, h6.H5{
    grid-template-columns:5% 95%;}}
@media only screen and (max-width:915px){
h1.H0, h2.H1, h3.H2, h4.H3, h5.H4, h6.H5{
    grid-template-columns:6% 94%;}}
@media only screen and (max-width:821px){
h1.H0, h2.H1, h3.H2, h4.H3, h5.H4, h6.H5{
    grid-template-columns:8% 92%;}}
@media only screen and (max-width:550px){
h1.H0, h2.H1, h3.H2, h4.H3, h5.H4, h6.H5{
    grid-template-columns:12% 88%;}}
@media only screen and (max-width:450px){
h1.H0, h2.H1, h3.H2, h4.H3, h5.H4, h6.H5{
    grid-template-columns:14% 86%;}}
@media only screen and (max-width:370px){
h1.H0, h2.H1, h3.H2, h4.H3, h5.H4, h6.H5{
    grid-template-columns:16% 84%;}}
@media only screen and (max-width:300px){
h1.H0, h2.H1, h3.H2, h4.H3, h5.H4, h6.H5{
    grid-template-columns:18% 82%;}}
