.darkmode {
    --img-arrow-up-dark: url(../images/arrow-up-svgrepo-com-DarkMode.svg);
    --arrow-up: url(../images/arrow-up-svgrepo-com-DarkMode.svg);
}
body{
    background-color:var(--DM-light-gray)!important;
    color:var(--DM-white);
}
.darkmode :is(h1,h2,h3,h4,h5,h6):not(header *,h3.video-title,.footerLinks-header h3,.Contact-section h3,.Contact-section h5) {
    color: black!important;
}
.darkmode :is(.titles,h1.titles,h2.titles,h3.titles,h4.titles,h5.titles,h6.titles,.visible-titles h4):not(header *) {
    color: var(--DM-white)!important;
}

:is(h1,h2,h3,h4,h5,h6):not(.visible-titles h4,h5.all-links,.footerLinks-header h3,.Contact-section h3,.Contact-section h5,h3.video-title){
    --shd4: rgba(0, 0, 0, 0.8);
    box-shadow: var(--shd4) 0px 12px 8px -11px, var(--shd4) 0px -10px 2px -10px, var(--shd4) 0px 13px 2px -11px!important;
}

/* PRELOAD CSS */
.loader-bg{
    background:var(--bgColor-smoke-white)!important;}
.loader{
    background-image:url(../images/preload.svg);
    background-image:url(/images/preload.svg);}
/* custom CSS */
button{background-color:transparent;}
button,input,optgroup,textarea{color:var(--DM-inherit);}
.bg-color{ 
    background-color:#2F4052;
    background-color:var(--DM-bgColor-smoke-white);
    box-shadow:4px 7px 10px rgba(0, 0, 0, 0.1);
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);}
.active,.cat-active{ 
    color:var(--DM-vivid-orange)!important;
    border-bottom:3px solid var(--DM-vivid-orange)!important;}
::selection{ 
    background-color:var(--DM-light-purple);
    color:var(--DM-white);}
.highlighted{color:var(--DM-vivid-orange)!important;}
#Resources-section .titles>a:hover{color:var(--gray);}
/* .Resources-grid,.homeResources-grid-containter{
    background-color:var(--DM-bgColor-smoke-white)!important;
    box-shadow:7px 8px 16px -5px rgba(0, 0, 0, 0.14);
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.1);} */
.homeResources-grid .archive-date,
.homeResources-grid .archive-date-summary,article .archive-date{color:var(--DM-red);}
.archive-date,.archive-date-summary{color:var(--grey);}
/* mobile view */
.mobileButton{ 
    background:url(../images/hamburger-menu-svgrepo-com-DarkMode.svg) no-repeat center;
    border:1px solid var(--gray);}
#headerLinks{background-color:var(--white);}
.mobile-homeHeaderNav{ 
    background-color:var(--DM-bgColor-smoke-white);
    box-shadow:3px -500px 22px 2000px rgb(0 0 0 / 75%);}
.mobile-headerLinks .active{
    /* background-color:var(--DM-vivid-orange-trans); */
    border-bottom:1px solid var(--DM-vivid-orange)!important;}
.mobile-headerLinks:hover{ 
    background-color:var(--DM-light-grey);}
.mobile-headerLinks a{ 
    color:var(--DM-white);
    border-bottom:1px solid var(--grey)!important;}
.iconLink2{border-bottom:1px solid var(--DM-white)!important;}
.closeNavBar{ 
    background-color:#dd1515!important;
    border:1px solid #dd1515!important;}
.closeNavBar>div{
    background:url(../images/cancel-svgrepo-com-DarkMode.svg) center no-repeat;}
.myDropdown{background-color:transparent;}
.myDropdownDesk{background-color:transparent;}
.header-links2{ 
    background-color:var(--DM-vivid-orange);
    background-color:var(--DM-bgColor-smoke-white);
    box-shadow:4px 7px 10px rgba(0, 0, 0, 0.1);}
@keyframes easeIn{ 
    0%{color:transparent;}
    60%{color:var(--DM-inherit);}
    100%{color:var(--black);}}
@keyframes easeInTwo{ 
    0%{color:transparent;}
    80%{color:var(--DM-inherit);}
    100%{color:var(--DM-inherit);}}
@keyframes slideInFromTop{ 
    0%{color:transparent;}
    40%{color:transparent;}
    100%{color:var(--DM-red);}}
/* desktopHeader CSS */
.group-cats p{
    color:var(--DM-vivid-orange);
    border-bottom:3px solid var(--DM-vivid-orange);}
@media only screen and (max-width:820px){ 
.group-cats{
    border-right:4px solid var(--DM-vivid-orange);}}
/* homeHeader */
.header-links-li>a{ 
    color:var(--DM-white);}
.header-links-li>.active{ 
    /* background-color:var(--DM-vivid-orange-trans); */
    border-bottom:3px solid var(--DM-vivid-orange)!important;}
.moreButton{color:var(--DM-light-gray);}
.moreButton{background-color:var(--DM-vivid-orange);}
.moreButton:hover{
    background-color:var(--DM-white);
    background-color:var(--vivid-orange);}
.header-links a:hover,.header-links a:focus,
.header-links2 a:hover,.header-links2 a:focus{ 
    background-color:var(--DM-vivid-orange);
    background-color:var(--DM-light-grey);}
.all-links a{
    color:var(--DM-supernova);
    transition:color .2s ease-out,opacity .2s ease-out;}
.all-links a:hover{
    color:var(--DM-red);
    border-bottom:1px solid var(--DM-red)!important;}
a.titles-links{
    background:linear-gradient(91deg, var(--DM-vivid-orange) 30.03%, var(--DM-light-vivid-orange) 101.13%);
    background:var(--DM-vivid-orange);
    color:var(--DM-light-gray)!important;
    box-shadow:4px 4px 10px rgba(0, 0, 0, 0.1);}
a.titles-links:hover{
    background:var(--vivid-orange);}
/* FOOTER CSS */
footer{ 
    background-color:var(--DM-bgColor-smoke-white)!important;
    color:var(--DM-white);
    border-top:1px solid rgba(190,190,190,.5);
    border-top:10px solid var(--DM-vivid-orange);}
footer a{ 
    color:var(--DM-white);}
/* CONTACT-SECTION CSS */
.darkmode :is(.footerLinks-header h3,.Contact-section h3){
    color: var(--DM-vivid-orange)!important;
}
.footerLinks-header h3,.Contact-section h3{
    box-shadow:none!important;
    color:var(--white);
    color:var(--DM-vivid-orange)!important;}
.darkmode :is(.footerLinks-header h5,.Contact-section h5){
    color: var(--DM-white)!important;
}
.Contact-section h5{ 
    box-shadow:none!important;}
.footerLinks-header a:hover,.Contact-section a:hover{
    color:var(--grey);}
/* FOOTER LINKS CSS */
@media only screen and (max-width:720px){ 
.visible-titles2{color:var(--DM-vivid-orange);}}
/* em>span,li>span,li>strong>span,li>em>span,li>strong>em>span,p>span,p>em>span,blockquote>span,blockquote>em>span,blockquote>p>em>span{ 
    color:rgb(20 157 237)!important;} */
em>span:hover,li>span:hover,li>strong>span:hover,li>em>span:hover,li>strong>em>span:hover,p>span:hover,p>em>span:hover,blockquote>span:hover,blockquote>em>span:hover,blockquote>p>em>span:hover{ 
    color:rgb(0, 106, 168)!important;}
.darkmode :is(h1>span,h2>span,h3>span,h4>span,h5>span,h6>span,
h1>a>span,h2>a>span,h3>a>span,h4>a>span,h5>a>span,h6>a>span,
li>a>span){ 
    color:inherit!important;}
/* styles from lightcity-02.css */
.visible-titles{
    color:var(--DM-white);}
.visible-titles.active{color:var(--grey)!important;} 
.sidebar a{color:var(--DM-white);} 
.recentposts a{color:var(--DM-white)!important;}
.recentposts a:hover, .sidebar-wrapper-header a:hover{color:var(--grey)!important;}
.homeResources-grid .archive-date,
.homeResources-grid .archive-date-summary{color:var(--DM-red)!important;}
a.cat-link{ 
    text-decoration:none;
    color:var(--DM-supernova)!important;}
#search-input,#videoSearch{
    background-color:var(--DM-bgColor-smoke-white);
    border:1px solid var(--DM-white);}
::placeholder{
    color:var(--DM-white);}
/* styles from article-style.css */
article a{
    color:tomato!important;
    color:midnightblue!important;
    color:#5e8ad0!important;}
article img{background-color:var(--bgColor-smoke-white);}
.leftBorderForArticleTitle{background-color:var(--DM-red);}
main>h1:not(header > h1), main>h2, main>h3, main>h4, main>h5, main>h6{ 
    background-color:var(--DM-articleSubHeading);
    color:var(--black);
    border-top:0.7px solid rgba(190,190,190,.5);
    border-top:0.3px solid var(--gray);
    border-bottom:0.6px solid var(--gray);}
h1>nav, h2>nav, h3>nav, h4>nav, h5>nav, h6>nav{ 
    color:var(--black)!important;}
.emphasize{ 
    color:var(--DM-white);
    background-color:var(--light-purple);}
blockquote{ 
    background:var(--DM-bgColor-blockquote);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-left:10px solid var(--DM-light-purple)!important;
    border-right:2px solid var(--DM-light-purple)!important;}
blockquote:before{color:var(--DM-light-purple);}
.sidenote{ 
    color:var(--DM-bgColor-smoke-white);
    background:var(--DM-vivid-orange-trans);}
.label{background-color:var(--DM-bgColor-smoke-white);}
.label .ball{ 
    background-color:var(--DM-white);}
.open, .close{ 
    color:var(--DM-vivid-orange);
    color:var(--DM-white);}
.PageNavigation a, .categoryNavigation a{
    color:var(--DM-catAndArtLinks)!important;}
.PageNavigation a:hover, .categoryNavigation a:hover{
    color:var(--DM-catAndArtLinksHover)!important;
    text-decoration:none!important;
    border-bottom:none!important;}
.categoryNavigation span, .prev-link span, .next-link span, .category-link span{
    color:var(--gray)!important;}
/* styles from video.css */
.arrow-left::after{background:linear-gradient(to right,var(--DM-bgColor-smoke-white) 30%,rgba(33,33,33,0) 90%);}
.arrow-right::before{background:linear-gradient(to left,var(--DM-bgColor-smoke-white) 30%,rgba(33,33,33,0) 90%);}
/* .videos-header-btns-cont{
    background-color:var(--DM-grayTwo)!important;
    box-shadow:4px 7px 10px rgba(0, 0, 0, 0.1);} */
.videos-header-btns-cont>.active{
    background-color:var(--DM-vivid-orange)!important;
    color:var(--black)!important;}
.videos-header-btns{
    background-color:var(--DM-grayTwo);
    color:var(--DM-white);}
.videos-header-btns:hover{
    color:var(--gray);}
.video-box h3{
    color:var(--DM-white);}
#searchResults .homeResources-grid-containter {
    background-color:var(--DM-grayTwo)!important;}
/* styles from video.css */
#context_menu{
    background:var(--DM-bgColor-smoke-white);
    color:var(--DM-white);}
#context_menu .buttons{
    background:var(--DM-light-gray);
    border-bottom:2px solid #70707072;}
#context_menu .cmtitlebar{
    background:var(--DM-bgColor-smoke-white);}
.cmtitlebar{
    border-bottom:1px solid var(--scroll-track-bg-color);
    box-shadow:0px -25.5px 6px 28px #000000;}
#context_menu #cmenu_closebtn,.cmenu_closebtn{
    background:var(--img-cancel-dark);}
#context_menu #cmenu_closebtn:hover,.cmenu_closebtn:hover{
    background:var(--img-cancel-black)}
.cmenu_navnclose_btns button.prv_verse,.cmenu_navnclose_btns button.nxt_verse,
.cmenu_navnclose_btns button.prv,.cmenu_navnclose_btns button.nxt,
#context_menu summary>div:first-of-type{
    background:var(--img-arrow-up-dark);}
.cmenu_navnclose_btns button.prv_verse:hover,.cmenu_navnclose_btns button.nxt_verse:hover,
.cmenu_navnclose_btns button.prv:hover,.cmenu_navnclose_btns button.nxt:hover{
    background:var(--img-arrow-up);}
.cmenu_tsk:hover{color:var(--black);}
#context_menu code:not(.cmtitlebar code):hover,.crossrefs span:hover{color:rgb(20 157 237)!important;}
#context_menu details[open] > summary > div:first-of-type{
    background:var(--img-arrow-up-dark);
    transform:rotate(-180deg);}
span.translated:not(.win2_noteholder blockquote .verse:not(.verse:hover) span.translated){
    color:var(--DM-translated-word);}
#context_menu:not([strnum]) hr,.compare_verses hr{
    background:var(--DM-white)!important;}
#context_menu:not([strnum]) hr::before,.compare_verses hr::before{
    background:var(--DM-bgColor-smoke-white);}
.cmenu_closebtn,.cmenu_navnclose_btns button{
    background-color:var(--grey)!important;
    box-shadow:1px 1px 1px var(--shadow-color)!important;}
.buttombar{
    background:var(--DM-bgColor-smoke-white);
    border-top:2px solid var(--scroll-track-bg-color);}
.crossrefs{
    background:var(--DM-bgColor-smoke-white);
    box-shadow:inset 0 1px 4px var(--black);}
.crossrefs h1::before, .crossrefs h2::before, .crossrefs h3::before, .crossrefs h4::before, .crossrefs h5::before, .crossrefs h6::before,.crossrefs .hidingsibs::before{
    content:var(--img-arrow-up-dark);}