:root {
    --img-arrow-up: url(../images/arrow-up-svgrepo-com.svg);
    --arrow-up: url(../images/arrow-up-svgrepo-com.svg);
    --arrow-up-content: url(../images/arrow-up-svgrepo-com.svg);
    --arrow-up-white: url(../images/white-arrow-up-svgrepo-com.svg);
}
body{
    background-color:var(--bgColor-smoke-white)!important;
    color:var(--black);}
/* PRELOAD CSS */
.loader-bg {background:var(--bgColor-smoke-white)!important;}
/* animation properties */
.loader { background-image:url(../images/preload.svg); }
/* custom CSS */
button{background-color:transparent;}
button,input,optgroup,textarea{color:inherit;}
.bg-color{
    background-color:var(--white);
    box-shadow:4px 7px 10px rgba(0, 0, 0, 0.1);
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 calc(var(--borderWidth-thin, 1px)* -1) var(--borderColor-default);
    box-shadow: inset 0 -1px 0px var(--borderColor-muted);}
.active,.cat-active{ 
    color:var(--vivid-orange)!important;
    border-bottom:3px solid var(--vivid-orange)!important;}
::selection{ 
    background-color:var(--selection);
    color:var(--black);}
.highlighted{color:var(--DM-vivid-orange)!important;}
/* .Resources-grid,.homeResources-grid-containter{
    background-color:var(--white)!important;
    background-color:#ffffff6e!important;
    box-shadow:7px 8px 16px -5px rgba(0, 0, 0, 0.14);
    box-shadow:4px 7px 10px rgba(0, 0, 0, 0.1);
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow:inset 0 -1px 0 var(--borderColor-muted);} */
.homeResources-grid .archive-date,
.homeResources-grid .archive-date-summary,article .archive-date{color:var(--red);}
.archive-date,.archive-date-summary{color:var(--gray);}
/* mobile view */
.mobileButton{ 
    background:url(../images/hamburger-menu-svgrepo-com.svg) no-repeat center;
    border:1px solid var(--gray);}
#headerLinks{background-color:var(--white);}
.mobile-homeHeaderNav{ 
    background-color:var(--white);
    box-shadow:3px -500px 22px 2000px rgb(0 0 0 / 75%);}
.mobile-headerLinks .active{
    /* background-color:var(--vivid-orange-trans); */
    border-bottom:1px solid var(--vivid-orange)!important;}
.mobile-headerLinks:hover{ 
    background-color:var(--bgColor-smoke-white);}
.mobile-headerLinks a{ 
    color:var(--black);
    border-bottom:1px solid var(--light-grey)!important;}
.iconLink2{border-bottom:1px solid var(--light-grey)!important;}
.closeNavBar{ 
    background-color:#dd1515!important;
    border:1px solid #dd1515!important;}
.closeNavBar>div{
    background:url(../images/cancel-svgrepo-com-DarkMode.svg) center no-repeat;}
.myDropdown{background-color:transparent;}
.myDropdownDesk{background-color:transparent;}
.header-links2{ 
    background-color:var(--vivid-orange);
    background-color:var(--white);
    box-shadow:4px 7px 10px rgba(0, 0, 0, 0.1);}
@keyframes easeIn{ 
    0%{color:transparent;}
    60%{color:inherit;}
    100%{color:inherit;}}
@keyframes easeInTwo{ 
    0%{color:transparent;}
    80%{color:inherit;}
    100%{color:inherit;}}
@keyframes slideInFromTop{ 
    0%{color:transparent;}
    40%{color:transparent;}
    100%{color:var(--red);}}
/* desktopHeader CSS */
.group-cats p{
    color:var(--vivid-orange);
    border-bottom:3px solid var(--vivid-orange);}
@media only screen and (max-width:820px){ 
.group-cats{
    border-right:4px solid var(--vivid-orange);}}
/* homeHeader */
.header-links-li>a,.moreButton{ 
    color:var(--black);}
.header-links-li>.active {
    /* background-color:var(--vivid-orange-trans); */
    border-bottom: 3px solid var(--vivid-orange)!important;}
.moreButton{background-color:var(--vivid-orange);}
.moreButton:hover{
    background-color:var(--black);
    background-color:var(--light-vivid-orange);}
.header-links a:hover,.header-links a:focus,
.header-links2 a:hover,.header-links2 a:focus{ 
    background-color:var(--vivid-orange);
    background-color:var(--black);
    background-color:#f8ce4e;
    background-color:var(--bgColor-smoke-white);}
.all-links a{
    color:var(--supernova);
    transition:color .2s ease-out,opacity .2s ease-out;}
.all-links a:hover{
    color:var(--red);
    border-bottom:1px solid var(--red)!important;}
a.titles-links{
    background:linear-gradient(91deg, var(--vivid-orange) 30.03%, #f8d261 101.13%);
    background:var(--vivid-orange);
    color:var(--black)!important;
    box-shadow:4px 4px 10px rgba(0, 0, 0, 0.1);}
a.titles-links:hover{
    color:var(--black)!important;
    background:var(--light-vivid-orange);}
/* FOOTER CSS */
footer{ 
    background-color:var(--black)!important;
    color:var(--black);
    color:var(--white);
    border-top:1px solid rgba(190,190,190,.5);
    border-top:10px solid var(--vivid-orange);}
footer a{ 
    color:var(--black);
    color:var(--white);}
/* CONTACT-SECTION CSS */
.footerLinks-header h3,.Contact-section h3{
    box-shadow:none!important;
    color:var(--white);
    color:var(--vivid-orange);}
.Contact-section h5{ 
    box-shadow:none!important;}
.footerLinks-header a:hover,.Contact-section a:hover{
    color:var(--light-grey);}
/* FOOTER LINKS CSS */
@media only screen and (max-width:720px){ 
.visible-titles2{color:var(--vivid-orange);}}
em>span,li>span,li>strong>span,li>em>span,li>strong>em>span,p>span,p>em>span,blockquote>span,blockquote>em>span,blockquote>p>em>span{ 
    color:rgb(0, 106, 168)!important;}
em>span:hover,li>span:hover,li>strong>span:hover,li>em>span:hover,li>strong>em>span:hover,p>span:hover,p>em>span:hover,blockquote>span:hover,blockquote>em>span:hover,blockquote>p>em>span:hover{ 
    color:rgb(20 157 237)!important;}
h1>span,h2>span,h3>span,h4>span,h5>span,h6>span,
h1>a>span,h2>a>span,h3>a>span,h4>a>span,h5>a>span,h6>a>span,
li>a>span{ 
    color:inherit!important;}
/* styles from lightcity-02.css */
.visible-titles{ 
    color:var(--grey);}
.visible-titles.active{
    color:var(--grey)!important;}
.sidebar a{color:var(--black);} 
.recentposts a{color:var(--black)!important;}
.recentposts a:hover, .sidebar-wrapper-header a:hover{color:var(--grey)!important;} 
.homeResources-grid .archive-date,
.homeResources-grid .archive-date-summary{color:var(--red)!important;}
a.cat-link{ 
    text-decoration:none;
    color:var(--supernova)!important;}
#search-input,#videoSearch{
    background-color:var(--white);
    border:1px solid var(--gray);}
::placeholder{
    color:var(--inherit);}
/* styles from article-style.css */
article a{
    color:tomato!important;
    color:midnightblue!important;
    color:#39547f!important;}
    article img{background-color:var(--bgColor-smoke-white);}
    .leftBorderForArticleTitle{background-color:tomato;}
main>h1:not(header > h1), main>h2, main>h3, main>h4, main>h5, main>h6{  
    background-color:var(--articleSubHeading);
    color:var(--black);
    border-top:0.7px solid rgba(190,190,190,.5);
    border-top:0.3px solid var(--gray);
    border-bottom:0.6px solid var(--gray);}
h1>nav, h2>nav, h3>nav, h4>nav, h5>nav, h6>nav{ 
    color:var(--black)!important;}
.emphasize{ 
    color:var(--black);
    background-color:var(--bgColor-emphasize);}
blockquote{ 
    background:var(--bgColor-blockquote);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-left:10px solid var(--light-purple)!important;
    border-right:2px solid var(--light-purple)!important;}
blockquote:before{color:var(--light-purple);}
.sidenote{ 
    color:var(--black);
    background-color:rgb(250, 255, 211);}
.label{ 
    background-color:var(--DM-bgColor-smoke-white);}
.label .ball{ 
    background-color:var(--white);}
.open, .close{ 
    color:var(--vivid-orange);
    color:var(--white);}
.PageNavigation a, .categoryNavigation a{
    color:var(--catAndArtLinks)!important;}
.PageNavigation a:hover, .categoryNavigation a:hover{
    color:var(--catAndArtLinksHover)!important;
    text-decoration:none!important;
    border-bottom:none!important;}
.categoryNavigation span, .prev-link span, .next-link span, .category-link span{
    color:var(--gray)!important;}
/* styles from video.css */
.arrow-left::after{background:linear-gradient(to right,var(--white) 30%,rgba(33,33,33,0) 90%);}
.arrow-right::before{background:linear-gradient(to left,var(--white) 30%,rgba(33,33,33,0) 90%);}
/* .videos-header-btns-cont{
    background-color:var(--bgColor-smoke-white)!important;
    box-shadow:4px 7px 10px rgba(0, 0, 0, 0.1);} */
.videos-header-btns-cont>.active{
    background-color:var(--vivid-orange)!important;
    color:var(--white)!important;}
.videos-header-btns{
    background-color:var(--bgColor-smoke-white);
    color:var(--black);}
.videos-header-btns:hover{
    color:var(--black);}
.video-box h3{color:var(--DM-grayTwo);}
#searchResults .homeResources-grid-containter {
    background-color:var(--bgColor-smoke-white)!important;}
/* styles from reftaggerLightCity.css */
#context_menu{
    background:var(--whitesmoke);
    color:var(--black);}
#context_menu .buttons{
    background:var(--ref-img);
    border-bottom:2px solid #70707072;}
#context_menu .cmtitlebar{background:var(--ref-img);}
.cmtitlebar{
    border-bottom:1px solid var(--scroll-track-bg-color);
    box-shadow:0px -25.5px 6px 28px #000000;}
#context_menu #cmenu_closebtn,.cmenu_closebtn{
    background:var(--img-cancel)}
#context_menu #cmenu_closebtn:hover,.cmenu_closebtn:hover{
    background:var(--img-cancel-black)}
#context_menu code:not(.cmtitlebar code):hover{color:blue!important;}
.cmenu_navnclose_btns button.prv_verse,.cmenu_navnclose_btns button.nxt_verse,
.cmenu_navnclose_btns button.prv,.cmenu_navnclose_btns button.nxt,
#context_menu summary>div:first-of-type{
    background:var(--img-arrow-up);}
#context_menu details[open] > summary > div:first-of-type{
    background:var(--img-arrow-down);}
span.translated:not(.win2_noteholder blockquote .verse:not(.verse:hover) span.translated){
    color:var(--translated-word);}
#context_menu:not([strnum]) hr,.compare_verses hr{
    background:var(--black)!important;}
#context_menu:not([strnum]) hr::before,.compare_verses hr::before{
    background:var(--whitesmoke);}
.cmenu_closebtn, .cmenu_navnclose_btns button{
    background-color:whitesmoke!important;
    box-shadow:inset 0 0 1px 0px !important;}
.buttombar{
    background:var(--ref-img);
    border-top:2px solid var(--scroll-track-bg-color);}
.crossrefs{
    background:var(--crossrefbackground);
    box-shadow:inset 0 1px 4px var(--black);}
.crossrefs h1::before, .crossrefs h2::before, .crossrefs h3::before, .crossrefs h4::before, .crossrefs h5::before, .crossrefs h6::before,.crossrefs .hidingsibs::before{
    content:var(--img-arrow-up);}

.crossrefs span:hover{color:blue;}